[Unit]
Description=Timer for binance-ingest@0.service

[Timer]
OnCalendar=*:0
Unit=binance-ingest@0.service
Persistent=true

[Install]
WantedBy=timers.target

